* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  background-color: black;
  color: white;
}
#logo {
  transition: ease-in-out;
  transition-delay: 0.25s;
}
#logo:hover {
  transform: scale(1.08);
  border: 2px solid #4d4b4d;
  border-radius: 4%;
}
#left {
  width: 21%;
}
#right {
  width: 79%;
}
#home {
  height: 20vh;
  margin-bottom: 2px;
}
#library {
  height: 80vh;
  justify-content: space-between;
}

#ul1 {
  gap: 15px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 8px;
}
li {
  list-style: none;
  color: black;
  gap: 20px;
}
#library-in1 {
  gap: 15px;
}
footer a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: x-small;
  margin-right: 10px;
}
#header {
  height: 7vh;
  justify-content: space-between;
  padding: 5px;
}
#signin {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  font-size: 16px;
  margin-right: 18px;
  cursor: pointer;
  transition: 0.25 ease-in-out;
}
#login {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.25 ease-in-out;
}
#signin:hover {
  color: #eae8e8;
  transform: scale(1.1);
}
#login:hover {
  color: #000000;
  background-color: #66ff99;
  transform: scale(1.1);
}
#leftchevron {
  margin-right: 6.5px;
}
#spotifyplaylists {
  height: 80vh;
}

#contentplaylists {
  padding-left: 5px;
  font-size: x-large;
  flex-shrink: 0;
}
#cardContainer {
  justify-content: space-around;
  flex-grow: 1;
  overflow-y: scroll;
}
#cardContainer > * > img {
  border-radius: 7%;
  width: 100%;

  object-fit: contain;
}

#cardContainer > * {
  padding: 15px;
  border-radius: 7%;
  border: 2px solid rgba(0, 0, 0, 0.711);
  width: 18vw;
  height: 39.5vh;
  transition: ease-in;
  transition-delay: 0.01s;
  background-color: #121212;
}
#cardContainer > *:hover {
  background-color: #4d4b4d;
  cursor: pointer;
}
#cardContainer > * > h2 {
  font-weight: 500;
  margin: 5px 0px;
  color: rgba(235, 235, 235, 0.937);
}
#cardContainer > * > p {
  color: #7c7a7aeb;
}
.play-button-container {
  width: 50px; /* Set width of the circle */
  height: 50px; /* Set height of the circle */
  background-color: #1db954; /* Spotify green color */
  border-radius: 50%; /* Make it a circle */
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Horizontally center the play icon */
  align-items: center; /* Vertically center the play icon */
  cursor: pointer;
  bottom: 80px;
  right: 22px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-in; /* Make it look clickable */
}
#cardContainer > *:hover > .play-button-container {
  transform: translateY(0px);
  opacity: 1;
}
#cardContainer > *:not(:hover) > .play-button-container {
  opacity: 0; /* Keep the button visible when not hovered */
  transform: translateY(0); /* Keep it in the original position */
}
.play-button-container i {
  color: white; /* White color for the play icon */
  font-size: 24px; /* Adjust the size of the icon */
}
#playbar {
  bottom: 50px;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  padding: 12px;
  border: 2px solid red;
  text-align: center;
}
