.bg-black {
  background-color: black;
}
.cursorpointer{
  cursor:pointer
}
.invert {
  filter: invert(1);
}
.bg-grey {
  background-color: #121212;
}
.p-1 {
  padding: 6px;
}
.rounded {
  border-radius: 10px;
}
.spacearound {
  justify-content: space-around;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.shiftabitright {
  margin-left: 10px;
}
.shiftabitleft {
  margin-right: 10px;
}
.shiftabitdown {
  margin-top: 5px;
}
.shiftabitup {
  margin-bottom: 15px;
}
.justifycenter {
  justify-content: center;
}
.aligncenter {
  align-items: center;
}
.flexstart {
  align-items: flex-start;
}
.flexend {
  align-items: flex-end;
}
.showdiv {
  border: 3px solid red;
}
.inline-block {
  display: inline-block;
}
.understated {
  font-weight: lighter;
}
.wrap {
  flex-wrap: wrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

::-webkit-scrollbar {
  width: 12px; /
}

::-webkit-scrollbar-track {
  background-color: #000; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #1db954; 
  border-radius: 10px; 
  border: 3px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1ed760; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #1db954 #000; 
}
.flexcolumnreverse {
  display: flex;
  flex-direction: column-reverse;
}
.lighter{
  font-weight:250;
}